@import "tailwindcss";

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-switzer: 'Switzer', sans-serif;
}

body {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-switzer);
}

.hero-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 52px 24px;
  background-color: white;
  min-height: 45vh;
  height: auto;
}

.hero-layout-1 {
  /* min-height: 65vh; */
  /* height: fit-content; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:60px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-intro {
  grid-column: 1/5;
}

.hero-intro {
  font-size: clamp(2rem, 0.15rem + 9.25vw, 11.25rem);
}

.hero-intro-1 {
  grid-column: 9/12;
  align-items: center;
}

.hero-intro-1 h2 {
  font-size: clamp(1rem, 0.8rem + 1.2vw, 2rem);
  /* Approx 48px */
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom:   1rem;
}

.hero-intro-1 p {
  font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
  /* Approx 18px - readable size */
  text-align: justify;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  max-width: 90%;
}

.hero-intro-1 button {
  font-family: var(--font-dm-sans);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  /* 16px */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: clamp(0.75rem, 0.7rem + 0.25vw, 1rem) clamp(1rem, 0.8rem + 1vw, 2rem);
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  }

.spotify-logo {
  margin-right: 15px;
}


.wrapper {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%,  rgba(0,0,0,1) 80%, rgba(0,0,0,0));
}

.scrolling-text {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: scroll 30s linear infinite;
}

.scrolling-text-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.scrolling-text h1 {
  font-family: var(--font-dm-sans);
  font-size: 2vw;
  /* white-space: nowrap; */
  letter-spacing: 3px;
  opacity: 0.7;
}

.scrolling-text span {
  font-size: 2vw;
  opacity: 0.7;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.hero-layout-1 img {
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: disappear-pop 8s ease-in-out infinite;
  transition: transform 0.3s ease, filter 0.3s ease;
  position: relative;
  width: 100%;
}

.hero-image, img:hover {
  animation-play-state: paused;
  transform: scale(1.1) rotate(0deg) !important; 
  z-index: 50;
  filter: blur(0px);
  opacity: 1;
}

.drake-2 {
  object-fit: cover;
}

@keyframes disappear-pop {
  0%, 85% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
  90% {
    opacity: 0;
    scale: 0.8;
    filter: blur(10px); /* Smoky vanish */
  }
  95% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1.05; /* Slight "Pop" bigger on return */
    filter: blur(0px);
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@media (max-width: 1024px) {
  .hero-layout-1 {
    gap: 80px;
  }

  .snoop-dogg {
    bottom: 10px !important;
    left: 50px !important;
  }

  .drake-pooped {
    left: 0px !important;
  }
}

@media (max-width: 786px) {
  .hero-layout {
    display: block;
  }

  .hero-layout-1 {
    gap: 105px;
  }

  .drake-2 {
    left: 20px !important;
  }

  .snoop-dogg {
    bottom: 40px !important;
    left: 20px !important;
  }

  .drake-pooped {
    left: -50px !important;
  }

  .hero-layout h1 {
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .hero-layout-1 {
    gap: 90px;
  }
}

@media (max-width: 430px) {
  .hero-layout-1{
    gap: 90px;
  }
}