/* profile page */
.profileContainer {
    position: relative;
}
.profileContainer .signOut {
    position: absolute;
    background-color: black;
    color: #ffff;
    margin: 20px 20px;
    padding: 10px 20px;
    right: 0;
    cursor: pointer;
}

.profileContainer .signOut :hover {
    filter: brightness(1.5);
}

.profilePage {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  padding: 100px 0px;
}

.profile h1 {
  font-family: var(--font-dm-switzer);
  font-size: 1.5rem;
  font-weight: 800;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profileContent {
    display: flex;
    align-items: center;
}


.profile button {
    background-color: black;
    color: #ffff;
    padding: 10px;
    cursor: pointer;
}

.profile button:hover {
    transform: transition 0.1s ease-in;
    transition: scale(1.1);
}

.profile img {
  margin-right: 10px;
}

/* .profileSongs {
    display: inline-block;
} */

.songContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.songInfo {
    margin-left: 10px;
}

.profileSongs .songName {
    font-family: var(--font-dm-sans);
    font-size: 1rem;
    font-weight: 600;
}

.profileSongs .songArtist {
    font-family: var(--font-dm-switzer);
    font-size: 0.85rem;
    color: #666;
}